<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bmail:the best alternative to google</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex flex-col items-center justify-center h-screen w-screen lg:overflow-auto overflow-x-hidden bg-[#F9F7F7]">
    <div class="font-bold text-4xl">.B<span class="text-[#DBE2EF]">oo</span>gle</div>