<%-include("./partials/header.ejs")-%>

<form action="/" method="post">
    <input name="email" placeholder="receiver's bmail" type="text">
    <textarea name="textarea" placeholder="write your message" cols="30" rows="10"></textarea>
    <button type="submit">send</button>
</form>

<%-include("./partials/footer.ejs")-%>