<%-include("./partials/header.ejs")-%>

<h1 class="m-4 font-semibold text-lg">---⁕ sent successfully ⁕---</h1>
<a href="/" class="px-4 py-[0.5rem] hover:text-white my-2 border-2 rounded-lg hover:bg-[#3F72AF] border-[#3F72AF]">Home</a>

<%-include("./partials/footer.ejs")-%>